body {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(#a2d2ff,#efb0c9);
}
#bff {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #efb0c9;
}
h1, h3, h4 {
    text-shadow: 0px 0px 1px black;
}
#bday-age {
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px 0 10px 0;
} 
#bday-date {
    margin: 0px;
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 4px;
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gift-img {
    width: 400px;
    height: 400px;
    border: 4px solid whitesmoke;
    border-radius: 10px;
    background-image: url("https://thumbs.dreamstime.com/b/gold-color-bow-ribbon-6993263.jpg");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.gift-section {
    margin-top: 50px;
}
.gift-title {
    margin-bottom: 10px;
}
#gift-img-happy:hover {
    background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3Nvbnl1aWZxYmRqMXAxZDJ2enRnaXg3NXR0MHliNzVlNzlhZXJ4bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YnBntKOgnUSBkV7bQH/giphy.gif);
}
.gift-section1 {
    margin-top: 50px;
}
#gift-img-hot:hover {
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTZwYjc1ZDFnNjUxODZuNmliZGpxZzI1c2UxYWJxYTM0Znl3YmowaSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/QsTtjWlj1DWajbTjb9/giphy.gif);
}
#gift-img-genius:hover {
    background-image: url(https://media.giphy.com/media/Wlmx7EzlZuwNQVtryR/giphy.gif?cid=ecf05e478nkupaorzr4mqtg9lvahxe36i7jwbhaqmac1t4rn&ep=v1_gifs_search&rid=giphy.gif&ct=);
}
#gift-img-child:hover {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJB-uhRkBPWBwpcMVVtIB4b_LR4rWik2JnXw&s);
}
#gift-img-cheers:hover {
    background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWpvejR5dDB6em5oM21ucGtkcmh0bWszYWl5ZzVhcnducTNiMjFmdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XyOnezcXeQW1skyRvb/giphy.gif)
}
#gift-img-bday:hover {
    background-image: url(https://media.giphy.com/media/wumLmqIVT4yDwsZiqD/giphy.gif?cid=ecf05e47xbxmgy96nfeqs469n64ryq4aj99zbv09xmn9nt5d&ep=v1_gifs_search&rid=giphy.gif&ct=g)
}
#footer {
    width: 400px;
    margin: 40px auto 20px auto;
    font-style: italic;
}